.gallery-thumb {
	float: left;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	text-align: center;
	cursor: pointer;
}

.gallery-album {
	display: block;
	height: 400px;
	overflow: auto;
	padding-bottom: 10px;
	padding-top: 10px;
}

th, td {
	padding: 0;
	border-width: 0;
}

.giInfo {
	color: #888888;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	height: 11px;
	margin-bottom: 0px;
	margin-left: 12px;
	margin-right: 0px;
	text-align: left;
}

.giTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin: 3px 10px !important;
	padding: 0 0; 
	text-align: left;
}

.center {
	text-align: center !important;
}
body, html {
	background-color: #000;
}
