.gallery-thumb {
	float: left;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	text-align: center;
	cursor: pointer;
}

.gallery-album {
	display: block;
	height: 400px;
	overflow: auto;
	padding-bottom: 10px;
	padding-top: 10px;
}

th, td {
	padding: 0;
	border-width: 0;
}

body, html {
	background-color: #000;
}
