/*
-----------------------------------------------
Photos
Author:   Douglas Bowman
Version:  9 Nov 2004
----------------------------------------------- */

body {
  background:#ccb url("img/bg.jpg") repeat-x 0 0;
  }


/* Header
----------------------------------------------- */
#path {
  border-color:#bba;
  }
h1 {
  color:#543;
  border-color:#ddc;
  }
h1 strong {
  color:#234;
  }
#title h1 {
  width:733px;
  }
.galleryinfo fieldset {
  border-color:#bba;
  }


/* Index
----------------------------------------------- */
#gallerydesc {
  margin:-110px 20px 0 398px;
  }


/* Individual photo
----------------------------------------------- */
#ind {
  background-color:#bba;
  }
html>body #ind {
  background-color:transparent;
  }
#comments-form td, #comments-form th, .commentlist dd, .commentlist li {
  border-color:#AAAB9B;
  }


/* Count
----------------------------------------------- */
#info p.count {
  border-color:#ddc;
  }
.galleryinfo .count {
  background:#bba;
  }


/* Footer
----------------------------------------------- */
#footer p {
  border-color:#ddc;
  color:#887;
  }
