body {
background-image: url("../img/bg.jpg");
}
.thumb a strong {
  /* MaxWidth / 2 */
  width: 320px;
  /* MaxHeight */
  height: 480px;
}
.vertical .thumb a strong {
  /* MaxWidth / 2 */
  width: 180px;
  /* MaxHeight */
  height: 480px;
}
.vertical .main {
  width: 380px;
}
.thumb a strong {
  margin-top: 11px;
}
.thumb a:hover strong {
  background-position:50% 0px !important;
}

.thumb a {
  /* thumb size + 31 */
  width: 231px !important;
  height: 231px !important;
}

#prev, #next {
  /* thumb size + 34 */
  width: 234px;
}
#prev a, #next a {
  /* thumb size + 34 */
  width: 231px;
}

#desc, #meta {
  /* thumb size + 80 */
  top:280px;
}

.slideset .thumb a {
  position: relative;
  line-height: 234px !important;
  text-align: center;
  text-indent: 0 !important;
  font-size: 12px !important;
}

.slideset .thumb a span {
  position: absolute;
  line-height: 12px;
  bottom: 2px;
  width: 100%;
  font-size:90%;
  line-height:1.4em;
  font-family:"Gill Sans","Trebuchet MS",Verdana,Sans-serif;
  font-weight:normal;
  text-transform:uppercase;
  letter-spacing:.2em;
  text-align:center;
  color:#333;
}

.slideset .thumb a:hover span {
  /*background: #ddd;*/
}

.galleryinfo p {
  position: relative;
}

.galleryinfo .count {
  text-align: center;
}

#next-page {
  position: absolute;
  right: 0;
  clear: both;
}

#footer #credits {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#footer #credits li {
  background: none;
  padding: 0;
  display: inline;
}

#meta ul#actions {
  margin-top: 10px;
}

#meta ul#actions li:first-child {
  background:url("../img/divider_l.gif") no-repeat 100% 0;
  padding-top:10px;
  }
html>body #meta ul#actions li:first-child {
  background-image:url("../img/divider_l.png");
  }
