.ui-widget-overlay {
    background: #000;
    opacity: 0.7;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ui-dialog {
    background: #e5e5e5;
    position: absolute;
    /*top: 25px !important;*/
    -moz-box-shadow: 10px 10px 5px #fff;
    box-shadow: 10px 10px 5px #fff;
}

.ui-dialog-titlebar {
    display: none;
}

.ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog fieldset {
  border: 0;
}

.ui-dialog fieldset legend {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

/*#gDialog > form > fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

#gDialog > form > fieldset > legend {
    font-weight: bold;
}

#gDialog > form > fieldset > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#gDialog > form > fieldset > ul > li > input {
    width: 100%;
}

#gPermissions {


}*/
/* Simple uploader ~~~~~~~~~~~~~~~~~~~~~~~ */

#g-add-photos-canvas {
  border: 1px solid  #ccc;
  height: 200px;
  margin: .5em 0;
  overflow: auto;
  width: 469px;
}

#g-add-photos-status {
  border: 1px solid  #ccc;
  height: 125px;
  margin: .5em 0;
  overflow: auto;
  width: 469px;
}

#g-add-photos button {
  float: right;
  margin-bottom: .5em;
  margin-left: .5em;
}

#g-add-photos-status li {
  text-align: left;
  padding-left: 2em;
}

#g-add-photos-status li.g-success {
  background: #d9efc2  url('images/ico-success.png') no-repeat .4em 50%;
  width: 429px;
}

#g-add-photos-status li.g-error {
  background: #f6cbca url('images/ico-error.png') no-repeat .4em 50%;
  width: 429px;
/*  color: #f00;*/
}

#g-add-photos-button {
  background: #DFEFFC;
  border: 1px solid #C5DBEC;
  color: #2E6E9E
}

#g-add-photos p {
  margin: 0
}

#g-add-photos .g-breadcrumbs li {
  padding-top: .5em;
}
