table.calendar { text-align: center; width:100px; }
table.calendar caption { font-size: 1.5em; padding: 0.2em; }
table.calendar th, table.calendar td { padding: 0.2em; background: #fff; border: 0; }
table.calendar td:hover { background: #ddf; }
table.calendar td.prev-next { background: #ccc; color: #999; }
table.calendar td.today { color: #800; }
#cal_user, #cal_year, #cal_go { display: inline; }
#g-calendar-grid {
  position: relative;
  align: center;
  float: left;
  width: 200px;
  height: 220px;
  margin: 10px 10px 10px 10px;
}

