.icon-f{width:32px; height:32px; display:inline-block; background-image: url(../images/faves.png); position:absolute; top:20px; left:0; z-index:20}
.icon-f:hover{background-position: 0 -64px ;}
.icon-f.f-selected{background-position: 0 -32px ;} 
.icon-f.f-working{background-position: 0 -96px ;}
#f-view-link {float:right;position:relative; width:50px; height:50px;}
#f-view-link a{width:64px; height:64px; display:inline-block;background-position: -96px 0px;background-image: url(../images/faves.png); position:absolute; top:15px; right:0;}
#f-view-link a:hover{background-position: -96px -64px ;}
#f-save-link {float:right;position:relative; width:64px; height:64px;}
#f-save-link a{width:64px; height:64px; display:inline-block;background-position: -32px 0px;background-image: url(../images/faves.png); position:absolute; top:15px; right:0;}
#f-save-link a:hover{background-position: -32px -64px ;}
.rtl .icon-f{right:0;left:auto;}
.rtl #f-view-link{float:left;}
.rtl #f-view-link a{left:0;right:auto;}
.rtl #f-save-link{float:left;}
.rtl #f-save-link a{left:0;right:auto;}