/**
 * Gallery 3 Browny Admin Wind Theme Screen Styles
 *
 * @requires YUI reset, font, grids CSS
 *
 * Sheet organization:
 *  1)  Basic HTML elements
 *  2)  Reusable content blocks
 *  3)  Page layout containers
 *  4)  Content blocks in specific layout containers
 *  5)  Navigation and menus
 *  6)  ThemeRoller
 *  7)  jQuery and jQuery UI
 *  8)  Right-to-left language styles
 *  9)  More Browny
 *
 * @todo Review g-buttonset-vertical
 */

/** *******************************************************************
 * 1) Basic HTML elements
 **********************************************************************/

/* ~browny~ */
body, html {
  background-color: #5a3007;
  font-family: 'Geeza Pro', Tahoma, 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  margin-bottom: 1em;
}

em {
  font-style: oblique;
}

h1, h2, h3, h4, h5, strong, th {
  font-weight: bold;
}

h1 {
  font-size: 1.7em;
}

#g-dialog h1 {
  font-size: 1.1em;
}

h2 {
  font-size: 1.4em;
}

#g-sidebar .g-block h2 {
  font-size: 1.2em;
}

#g-sidebar .g-block li {
  margin-bottom: .6em;
}

h3 {
  font-size: 1.2em;
}

/* Links ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~browny~ */
a,
.g-menu a,
#g-dialog a,
.g-button,
.g-button:hover,
.g-button:active,
a.ui-state-hover,
input.ui-state-hover,
button.ui-state-hover {
  color: #7f5429 !important;
  text-decoration: none;
  -moz-outline-style: none;
}

a:hover,
#g-dialog a:hover {
  text-decoration: underline;
}

.g-menu a:hover {
  text-decoration: none;
}

/* Forms ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

fieldset {
  margin-bottom: 1em;
}

#g-content form ul li {
  padding: .4em 0;
}

#g-dialog form {
  width: 270px;
}

#g-dialog fieldset {
  margin-bottom: 0;
}

/* Tables ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

table {
  width: 100%;
}

#g-content table {
  margin: .6em 0 2em 0;
}

caption,
th {
  text-align: left;
}

th,
td {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: .5em;
  vertical-align: middle;
}

th {
  vertical-align: bottom;
  white-space: nowrap;
}

/** *******************************************************************
 * 2) Reusable content blocks
 *********************************************************************/

.g-block,
#g-content #g-admin-dashboard .g-block {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1em;
}

/* ~browny~ */
.g-block h2 {
  background-color: #f2e6d4;
  padding: .3em .8em;
}

.g-block-content {
  margin-top: 1em;
}

#g-content .g-block {
  border: none;
  padding: 0;
}

#g-sidebar .g-block-content {
  padding: 0;
}

/* ~browny~ */
#g-content .g-selected,
#g-content .g-available .g-block {
  border: 1px solid #f2e6d4;
  padding: .8em;
}

.g-selected img,
.g-available .g-block img {
  float: left;
  margin: 0 1em 1em 0;
}

/* ~browny~ */
.g-selected {
  background: #F5EEE4;
}

/* ~browny~ */
.g-available .g-installed-toolkit:hover {
  cursor: pointer;
  background: #F5EEE4;
}

.g-available .g-button {
  width: 96%;
}

.g-selected .g-button {
  display: none;
}

.g-unavailable {
  border-color: #999;
  opacity: 0.4;
}

.g-info td {
  background-color: transparent;
  background-image: none;
}

.g-success td {
  background-color: transparent;
  background-image: none;
}

.g-error td {
  background-color: #f6cbca;
  background-image: none;
}

.g-warning td {
  background-color: #fcf9ce;
  background-image: none;
}

.g-module-status.g-info,
#g-log-entries .g-info,
.g-module-status.g-success,
#g-log-entries .g-success {
  background-color: #fff;
}

/*** ******************************************************************
 * 3) Page layout containers
 *********************************************************************/

/* Header  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-header #g-login-menu {
  margin-top: 1em;
  float: right;
}

/* View container ~~~~~~~~~~~~~~~~~~~~~~~~ */

.g-view {
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  min-width: 974px !important;
}

/* Layout containers ~~~~~~~~~~~~~~~~~~~~~ */

/* ~browny~ */
#g-header {
  background-color: #f2e6d4;
  border-bottom: 1px solid #ccc;
  font-size: .8em;
  min-height: 9em;
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative;
}

#g-content {
  font-size: 1.1em;
  padding: 0 2em;
  width: 96%;
}

#g-sidebar {
  background-color: #fff;
  font-size: .9em;
  padding: 0 20px;
  width: 220px;
}

/* ~browny~ */
#g-footer {
  background-color: #f2e6d4;
  border-top: 1px solid #ccc;
  font-size: .8em;
  margin-top: 20px;
  padding: 10px 20px;
}

/** *******************************************************************
 * 4) Content blocks in specific layout containers
 *********************************************************************/

/* Header  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-header #g-logo {
  background: transparent url('../images/logo.png') no-repeat 0 .5em;
  color: #A5A5A5 !important;
  display: block;
  height: 110px;
  padding-top: 0px;
  width: 205px;
}

#g-header #g-logo:hover {
  color: #f60 !important;
  text-decoration: none;
}

#g-content .g-block h2 {
  background-color: transparent;
  padding-left: 0;
}

#g-sidebar .g-block-content {
  padding-left: 1em;
}

.g-block .ui-dialog-titlebar {
  margin: -1em -1em 0;
}

#g-sidebar .g-block h2 {
  background: none;
}

/* Photo stream ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-photo-stream {
  background-color: #e8e8e8;
}

#g-photo-stream .g-block-content ul {
  border-right: 1px solid #e8e8e8;
  height: 135px;
  overflow: auto;
  overflow: -moz-scrollbars-horizontal; /* for FF */
  overflow-x: scroll; /* scroll horizontal */
  overflow-y: hidden; /* Hide vertical*/
}

#g-content #g-photo-stream .g-item {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  float: left;
  height: 90px;
  overflow: hidden;
  text-align: center;
  width: 90px;
}

#g-content .g-item {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  height: 90px;
  padding: 14px 8px;
  text-align: center;
  width: 90px;
}

/* Graphics settings ~~~~~~~~~~~~~~~~~~~~~ */

#g-admin-graphics .g-available .g-block {
  clear: none;
  float: left;
  margin-right: 1em;
  width: 30%;
}

/* Appearance settings ~~~~~~~~~~~~~~~~~~~ */

#g-site-theme,
#g-admin-theme {
  float: left;
  width: 48%;
}

#g-site-theme {
  margin-right: 1em;
}

/* Block admin  ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.g-admin-blocks-list {
  float: left;
  margin: 0 2em 2em 0;
  width: 30%;
}

.g-admin-blocks-list div:last-child {
  border: .1em solid;
  height: 100%;
}

.g-admin-blocks-list ul {
  height: 98%;
  margin: .1em .1em;
  padding: .1em;
}

/* ~browny~ */
.g-admin-blocks-list ul li.g-draggable {
  background-color: #F5EEE4;
  margin: .5em;
  padding: .3em .8em;
}

/* In-line editing  ~~~~~~~~~~~~~~~~~~~~ */
#g-in-place-edit-message {
  background-color: #FFF;
}

/* Theme options  ~~~~~~~~~~~~~~~~~~~~~~~~ */
#g-theme-options-form {
  border: 1px solid #9e7247;
}
#g-theme-options-form-tabs {
  border: none !important;
}
#g-theme-options-form fieldset {
  border: none;
}

.ui-tabs .ui-tabs-nav li a {
  padding: 0 1em;
}

.ui-tabs .ui-tabs-nav li a.g-error {
  background: none no-repeat scroll 0 0 transparent;
  color: #FF0000 !important;
}

/** *******************************************************************
 * 5) Navigation and menus
 *********************************************************************/

/* Site Menu  ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-site-admin-menu {
  bottom: 0;
  font-size: 1.2em;
  left: 240px;
  position: absolute;
}

#g-site-admin-menu ul {
  margin-bottom: 0;
}

/** *******************************************************************
 * 6) ThemeRoller Theme
 **********************************************************************/
/* ~browny~ */

/* ThemeRoller overrides ~~~~~~~~~~~~~~ */
@import "themeroller/ui.tabs.css";

/** *******************************************************************
 * 7) jQuery and jQuery UI
 *********************************************************************/

/* Superfish menu overrides ~~~~~~~~~~~ */

/* ~browny~ */
.sf-menu li li,
.sf-menu li li ul li {
  background: #d3b07e url('../images/ui-bg_highlight-soft_15_d3b07e_1x100.png') 50% 50% repeat-x;
}

/* ~browny~ */
.sf-menu li:hover {
  background-color: #e0cbae;
}

/* ~browny~ */
.sf-menu a {
	border-top: 1px solid #e0cbae;
}

/* ~browny~ */
.sf-menu li {
	background: #d3b07e url('../images/ui-bg_highlight-soft_45_d3b07e_1x100.png') 50% 50% repeat-x;
}

/* ~browny~ */
.sf-menu li:hover, 
.sf-menu li.sfHover,
.sf-menu a:focus, 
.sf-menu a:hover, 
.sf-menu a:active {
	background: #e0cbae;
}

/* jQuery UI Dialog ~~~~~~~~~~~~~~~~~~~ */

#g-admin-dashboard .ui-state-highlight,
#g-sidebar .ui-state-highlight {
  height: 2em;
  margin-bottom: 1em;
}

.g-buttonset-vertical a {
  width: 8em !important;
}

#g-admin-dashboard .ui-dialog-titlebar,
#g-admin-dashboard-sidebar .ui-dialog-titlebar {
  padding: .2em .4em;
}

/** *******************************************************************
 * 8) Right to left styles
 *********************************************************************/

.rtl #g-content #g-album-grid .g-item,
.rtl #g-site-theme,
.rtl #g-admin-theme,
.rtl .g-selected img,
.rtl .g-available .g-block img,
.rtl #g-content #g-photo-stream .g-item,
.rtl li.g-group,
.rtl #g-server-add-admin {
  float: right;
}

.rtl #g-admin-graphics .g-available .g-block {
  float: right;
  margin-left: 1em;
  margin-right: 0em;
}

.rtl #g-site-admin-menu {
  left: auto;
  right: 240px;
}

.rtl #g-header #g-login-menu {
  float: left;
}

.rtl #g-header #g-login-menu li {
  margin-left: 0;
  padding-left: 0;
  padding-right: 1.2em;
}

/* ~browny~ */
.rtl .g-selected img,
.rtl .g-available .g-block img {
  margin: 0 0 1em 1em;
}

/** *******************************************************************
 * 9) More Browny (Extra overrides for better Browny look)
 *********************************************************************/

/* /lib/gallery.common.css ~~~~~~~~~~~~ */

.g-success {
background: #fcf9ce url('../images/ico-success.png') no-repeat .4em 50%
}

.g-even {
	  background: transparent;
}

.g-odd {
  background-color: #f2e6d4;
}

/* /modules/gallery/css/l10n_client.css */

#l10n-client .labels {
  background:#262626 !important;
}

/* /modules/user/css/user.css ~~~~~~~~~ */

#g-user-admin-list .g-admin {
  color: #8d8d3d !important;
}
