#wc-header {
  background-color: #666666;
  left: 0px;
  min-height: 90px;
  padding: 0 20px;
  position: fixed;
  right: 0px;
  height: 90px;
}

#wc-header div {
  background-image: url(images/g3_web.png);
  background-repeat: no-repeat;
  height: 90px;
}

#wc-body {
  background-color: #666666;
  bottom: 40px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 90px;
}

#wc-body #content {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 10px 20px;
  height: 100%;
}

#g-dialog {
  background-color: #666666;
  color: #FF9933;
}

form li {
  padding-top: .4em;
  text-align: left;
}

#g-dialog form li input[type=text],
#g-dialog form li input[type=file],
#g-dialog form li textarea {
  width: 100%;
}

form li input[readonly=readonly],
form li textarea[readonly=readonly] {
  background-color: #999999;
  color: #FF9933;
}

form legend {
  color: #FF9933;
  font-size: 1.2em;
  font-weight: bold;
}

span.error {
  color: #FF9933;
  background-color: #880000;
}

#wc-footer {
  background-color: #666666;
  bottom: 0px;
  color: #FF9933;
  left: 0px;
  min-height: 40px;
  padding: 10px 20px;
  position: fixed;
  right: 0px;
}

.wc-copyright {
  font-size: 0.9em;
  text-transform: uppercase;
}

#wc-body #login {
  background-color: #222222;
  color: #FF9933;
  border: 3px inset;
  bottom: 20px;
  left: 20px;
  margin: 0;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 11px;
}

#wc-body #left {
  background-color: #222222;
  border: 3px inset;
  bottom: 20px;
  left: 20px;
  margin: 0;
  padding: 5px;
  position: absolute;
  top: 11px;
  width: 191px;
}

#wc-body #left #album_tree {
  height: 100%;
  overflow: auto;
  font-size: 1.1em;
  padding-top: 5px;
}

#wc-body #left #album_tree ul li {
  padding: 0 0 .2em 1.2em;
}

#wc-body #left #album_tree div {
  border: none !important;
  background: none !important;
}

#wc-body #center {
  background-color: #222222;
  border: 3px inset;
  bottom: 20px;
  left: 230px;
  padding: 10px;
  position: absolute;
  right: 229px;
  top: 11px;
}

#wc-body #wc-detail {
  bottom: 0;
  left: 10px;
  overflow-y: auto;
  position: absolute;
  right: 10px;
  top: 60px;
}
.tree-title {
  cursor: pointer;
}

#wc-body #center #wc-thumb-grid {
  width: 100%;
  list-style: none;
}

#wc-body #center .wc-thumb-grid-cell {
  border: 1px solid transparent;
  float: left;
  height: 150px;
  line-height: 170px;
  margin: 2px;
  padding: 7px;
  text-align: center;
  width: 150px;
}

#wc-body #center .wc-thumb-grid-cell img {
  display: block;
  margin: 0 auto;
  padding: 5%;
  width: 89%;
  -ms-interpolation-mode: bicubic;
}

#wc-body #center .wc-thumb-grid-cell span {
  vertical-align: middle;
}

#wc-body #right {
  background-color: #222222;
  border: 3px inset;
  bottom: 20px;
  margin: 0;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 11px;
  width: 191px;
}

#wc-body #right #image_block img {
  padding: 5px 7px;
  width: 175px;
}

#wc-body #right #image_block p,
#wc-body #right #image_block h3 {
  color: #FF9933;
  text-align: center;
}

.ui-icon-left .ui-icon {
  float: left;
  margin-right: 0.2em;
}

.ui-icon-left .ui-icon-none {
  float: left;
  padding-left: 15px;
}

.ui-selected {
  background: #222222;
  border: 1px solid #CCCCCC !important;
  color: #FF9933;
  padding: 0 5px;
}

.wc-button {
  outline: 0;
  margin:0 4px 0 0;
  padding: .4em 1em;
  text-decoration:none !important;
  cursor:pointer;
  position: relative;
  text-align: center;
  zoom: 1;
}

.wc-button .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -8px;
}

a.wc-button {
  float:left;
}

a.ui-state-active {
  color: #EB8F00 !important;
}

a.ui-state-default {
  background: #FFFFFF;
}

/* remove extra button width in IE */
button.wc-button {
  width: auto;
  overflow: visible;
}

.wc-button-icon-left {
  padding-left: 2.1em;
}
.wc-button-icon-right {
  padding-right: 2.1em;
}

.wc-button-icon-left .ui-icon {
  right: auto;
  left: .2em;
  margin-left: 0;
}

.wc-button-icon-right .ui-icon {
  left: auto;
  right: .2em;
  margin-left: 0;
}

.wc-button-icon-solo {  /* solo icon buttons must have block properties for the text-indent to work */
   display: block;
   width: 8px;
   text-indent: -9999px;
}

.wc-buttonset {
  float: left;
}

.wc-buttonset .wc-button {
  float: left;
}

.wc-buttonset-single .wc-button,
.wc-buttonset-multi .wc-button {
  margin-right: -1px;
}

.wc-toolbar {
  padding: .5em;
  margin: 0;
}

.wc-toolbar .wc-buttonset {
  margin-right:1.5em;
  padding-left: 1px;
}

.wc-toolbar .wc-button {
  font-size: 1em;
}

#wc-resource-list {
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  background: #FFFFFF;
  color: #F6A828;
  display: none;
  float: left;
  position: absolute;
  z-index: 200;
}

#wc-resource-list li {
  border-top-style: solid;
  border-top-width: 1px;
  cursor: pointer;
  padding: 3px;
}

/* Tag cloud ~~~~~~~~~~~~~~~~~~~~~~~ */
#wc-tag-cloud {
  border: 3px inset;
  padding: 2px;
}

#wc-tag-cloud ul {
  font-size: 1.2em;
  text-align: justify;
}

#wc-tag-cloud ul li {
  display: inline;
  line-height: 1.5em;
  text-align: justify;
}

#wc-tag-cloud ul li a {
  text-decoration: none;
}

#wc-tag-cloud ul li span {
  display: none;
}

#wc-tag-cloud ul li.size1 a {
  color: #FF9933;
  font-size: 80%;
  font-weight: 100;
}

#wc-tag-cloud ul li.size2 a {
  color: #FF9933;
  font-size: 90%;
  font-weight: 300;
}

#wc-tag-cloud ul li.size3 a {
  color: #FF9933;
  font-size: 100%;
  font-weight: 500;
}

#wc-tag-cloud ul li.size4 a {
  color: #FF9933;
  font-size: 110%;
  font-weight: 700;
}

#wc-tag-cloud ul li.size5 a {
  color: #FF9933;
  font-size: 120%;
  font-weight: 900;
}

#wc-tag-cloud ul li.size6 a {
  color: #FF9933;
  font-size: 130%;
  font-weight: 900;
}

#wc-tag-cloud ul li.size7 a {
  color: #FF9933;
  font-size: 140%;
  font-weight: 900;
}

#wc-tag-cloud ul li a:hover {
  color: #f30;
  text-decoration: underline;
}

#wc-tag-cloud h3 {
  color: #FF9933;
  text-align: center;
}
