#g-videos button {
  margin-bottom: .5em;
}

#g-videos-tree {
  cursor: pointer;
  padding-left: 4px;
  width: 95%;
}

#g-videos-tree li {
  padding: 0;
  float: none;
}

#g-videos-tree span.selected {
  background: #ddd;
}

#g-videos-tree {
  border: 1px solid #ccc;
  height: 20em;
  overflow: auto;
  margin-bottom: .5em;
  padding: .5em;
}

#g-videos ul ul li {
  padding-left: 1.2em;
}

#g-videos-paths li .ui-icon {
  margin-top: .4em;
}

#g-videos-admin-form .textbox  {
  width: 400px;
}
