#wc-header {
  background-color: #E8E8E8;
  left: 0px;
  min-height: 90px;
  padding: 0 20px;
  position: fixed;
  right: 0px;
  height: 90px;
}

#wc-header div {
  background-image: url(g3_web.png);
  background-repeat: no-repeat;
  height: 90px;
}

#wc-body {
  background-color: #E8E8E8;
  bottom: 40px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 90px;
}

#wc-body #content {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 10px 20px;
  height: 100%;
}

form li {
  padding-top: .4em;
}

form legend {
  font-size: 1.2em;
  font-weight: bold;
}

span.error {
  color: #FF0000;
}

#wc-footer {
  background-color: #E8E8E8;
  bottom: 0px;
  left: 0px;
  min-height: 40px;
  padding: 10px 20px;
  position: fixed;
  right: 0px;
}

.wc-copyright {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #557d10;
}

#wc-body #login {
  background-color: #FFFFFF;
  border: 2px inset;
  bottom: 20px;
  left: 20px;
  margin: 0;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 11px;
}

#wc-body #left {
  background-color: #FFFFFF;
  border: 2px inset;
  bottom: 20px;
  left: 20px;
  margin: 0;
  padding: 5px;
  position: absolute;
  top: 11px;
  width: 191px;
}

#wc-body #left #album_tree {
  height: 100%;
  overflow: auto;
  font-size: 1.1em;
  padding-top: 5px;
}

#wc-body #left #album_tree ul li {
  padding: 0 0 .2em 1.2em;
}

#wc-body #left #album_tree div {
  border: none !important;
  background: none !important;
}

#wc-body #center {
  background-color: #FFFFFF;
  border: 2px inset;
  bottom: 20px;
  left: 225px;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: 11px;
}

#wc-body #wc-detail {
  bottom: 0;
  left: 10px;
  overflow-y: auto;
  position: absolute;
  right: 10px;
  top: 60px;
}
.tree-title {
  cursor: pointer;
}

#wc-body #center #wc-thumb-grid {
  width: 100%;
  list-style: none;
}

#wc-body #center .wc-thumb-grid-cell {
  border: 1px solid transparent;
  float: left;
  height: 200px;
  line-height: 220px;
  margin: 2px;
  padding: 7px;
  text-align: center;
  width: 200px;
}

#wc-body #center .wc-thumb-grid-cell img {
  display: block;
  margin: 0 auto;
  padding: 5%;
  width: 89%;
  -ms-interpolation-mode: bicubic;
}

#wc-body #center .wc-thumb-grid-cell span {
  vertical-align: middle;
}

.ui-icon-left .ui-icon {
  float: left;
  margin-right: 0.2em;
}

.ui-icon-left .ui-icon-none {
  float: left;
  padding-left: 15px;
}

.ui-selected {
  background: #F6F6F6 url(images/ui-bg_glass_100_f6f6f6_1x400png) repeat-x scroll 50% 50%;
  border: 1px solid #CCCCCC !important;
  color: #FF9933;
  padding: 0 5px;
}

.wc-button {
  outline: 0;
  margin:0 4px 0 0;
  padding: .4em 1em;
  text-decoration:none !important;
  cursor:pointer;
  position: relative;
  text-align: center;
  zoom: 1;
}

.wc-button .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -8px;
}

a.wc-button {
  float:left;
}

a.ui-state-active {
  color: #EB8F00 !important;
}

a.ui-state-default {
  background: #FFFFFF;
}

/* remove extra button width in IE */
button.wc-button {
  width:auto;
  overflow:visible;
}

.wc-button-icon-left {
  padding-left: 2.1em;
}
.wc-button-icon-right {
  padding-right: 2.1em;
}

.wc-button-icon-left .ui-icon {
  right: auto;
  left: .2em;
  margin-left: 0;
}

.wc-button-icon-right .ui-icon {
  left: auto;
  right: .2em;
  margin-left: 0;
}

.wc-button-icon-solo {  /* solo icon buttons must have block properties for the text-indent to work */
   display: block;
   width: 8px;
   text-indent: -9999px;
}

.wc-buttonset {
  float: left;
}

.wc-buttonset .wc-button {
  float: left;
}

.wc-buttonset-single .wc-button,
.wc-buttonset-multi .wc-button {
  margin-right: -1px;
}

.wc-toolbar {
  padding: .5em;
  margin: 0;
}

.wc-toolbar .wc-buttonset {
  margin-right:1.5em;
  padding-left: 1px;
}

.wc-toolbar .wc-button {
  font-size: 1em;
}
