/* 3nids specific */
.g-movie {
	padding-top: 10px;
}

.g-map-head img {
  display: block;
  margin: 3px;
}

.g-map-head a {
	float: right;
}

.g-comment-thumb{
    padding: 5px;
	text-align: left;
}

.g-fancy-iframe-body{
  background-color: #333333;
  height: auto;
}

#mod_frame{
  background-color: #333333;
  }

 .g-comment-box  {	
  border-bottom: 1px solid #555;
}

.g-comment-box:hover{
	background-color: black;
	color: #ffffcc;
}

 #g-comment-detail {
	width: 360px;
	height: 100%;
	background-color: #333333;
	padding: 10px;
	text-align: left;
	margin-top: 30px;
}

.g-block-content .g-parent-album h4 span {
  background: transparent url('../images/ico-album.png') no-repeat top left;
  display: inline-block;
  height: 16px;
  margin-right: 5px;
  width: 16px;
}

