#basket {float:right;}
#add_to_basket {float:right}
#basketForm {max-width:200px;float:left;}
#basketThumb {float:left; padding:10px;}
#basketThumb img{max-width:100px;}
#payment {float:right; width:50%}
#checkout input,
#checkout select,
#checkout textarea {
  display: block;
  clear: both;
  padding: .2em;
  width: 100%;
}
#sidebar-basket {max-height:300px; overflow-y:auto; overflow-x:hidden;}
.order-status-1 a{color:#AA0000 !important}
.order-status-2 a{color:#00AA00 !important}
