#g-content #g-ecard-form {
  margin-top: 2em;
}

#g-content #g-ecards {
  margin-top: 2em;
  position: relative;
}

#g-content #g-ecards ul li {
  margin: 1em 0;
}

#g-content #g-ecards .g-author {
  border-bottom: 1px solid #ccc;
  color: #999;
  height: 32px;
  line-height: 32px;
}

#g-content #g-ecards ul li div {
  padding: 0 8px 8px 43px;
}

#g-content #g-ecards .g-avatar {
  height: 32px;
  margin-right: .4em;
  width: 32px;
}

#g-add-ecard {
  position: absolute;
  right: 0;
  top: 2px;
}

#g-admin-ecards-menu {
  margin: 1em 0;
}

#g-admin-ecards-menu a {
  margin: 0;
  padding: .2em .6em;
}

