.image-annotate-canvas {
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    position: relative;
}
.image-annotate-view {
    display: none;
    position: relative;
}
.image-annotate-area {
    border: 1px solid #000000;
    position: absolute;
    cursor: default;
}
.image-annotate-area div {
    border: 1px solid #FFFFFF;
    display: block;
}
.image-annotate-area-editable {
    cursor: pointer;
}
.image-annotate-area-editable-hover div {
    border-color: #00AD00 !important;
}
.image-annotate-note {
    background: #000000 none repeat scroll 0 0;
    color: #FFFFFF;
    display: none;
    font-family: Verdana, Sans-Serif;
    font-size: 1.4em;
    max-width: 200px;
    padding: 3px 7px;
    position: absolute;
}
.image-annotate-note .actions {
    display: block;
    font-size: 80%;
}
.image-annotate-edit {
    display: none;
    direction: ltr !important;
}
#image-annotate-edit-form {
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #000000;
    height: 230px;
    padding: 7px;
    position: absolute;
    width: 250px;
}
.image-annotate-rtl form {
    text-align: right !important;
}
#image-annotate-edit-form form {
    clear: right;
    margin: 0 !important;
    padding: 0;
    z-index: 999;
    text-align: left;
    color: #000000;
}
#image-annotate-edit-form .box {
    margin: 0;
}
#image-annotate-edit-form input.form-text, #image-annotate-edit-form #edit-comment-wrapper textarea {
    width: 90%;
}
#image-annotate-edit-form textarea {
    height: 50px;
    font-family: Verdana, Sans-Serif;
    font-size: 12px;    
    width: 248px;
    resize: none;
}
#image-annotate-edit-form fieldset {
    background: transparent none repeat scroll 0 0;
}
#image-annotate-edit-form .form-item {
    margin: 0 0 5px;
}
#image-annotate-edit-form .form-button, #image-annotate-edit-form .form-submit {
    margin: 0;
}
#image-annotate-edit-form a {
    cursor: pointer;
    display: block;
    float: left;    
    margin: 3px 6px 3px 0;
}
.image-annotate-rtl a {
    float: right !important;    
    margin: 3px 0 3px 6px !important;
}
.inmage-annotate-dialog button{
    float: left !important;
}
.inmage-annotate-dialog-rtl button{
    float: left !important;
}
.image-annotate-edit-area {
    border: 1px solid black;
    cursor: move;
    display: block;
    height: 60px;
    left: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    width: 60px;
}
.image-annotate-edit-area .ui-resizable-handle {
    opacity: 0.8;
}
.image-annotate-edit-ok {
    /*background-image: url(../images/accept.png);*/
}
.image-annotate-edit-delete {
    background-image: url(../images/delete.png);
}
.image-annotate-edit-close {
    /*background-image: url(../images/cross.png);*/
}
.ui-resizable {
    position: relative;
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable- autohide .ui-resizable-handle {
    display: block;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0px;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0px;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0px;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0px;
    height: 100%;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
.photoannotation-del-button {
    background-image: url('../images/delete.png');
    cursor: pointer;
}
.photoannotation-edit-button {
    background-image: url('../images/edit.png');
    cursor: pointer;
}
