     /* ~~~~~ Home Page - Layout of elements -  ~~~~~~~~~~~~ */

/* next line hides flash slideshow or empty flash container from showing in [both Mobile and Desktop versions if displayed on] mobile device  */

.g-swflash  {  display: none;   } 

/* next section also appears in screen.css of main theme with desktop/default values */
/* Notes: Page margin is 10px each side. See - themes/imobile/css/imobile.css  */

.g-feature-thumb-wrapper  { width: 100%; text-align: center;   margin: 0 0 0 0;  }
.g-feature-thumb  { display: inline-block; /* float: left; */  margin: 0 30px 0 30px; }

.g-blog-wrapper  { width: 100%; text-align: center; }
.g-blog-column-1  { display: inline-block;  width: 250px; vertical-align: top; margin: 0 20px 0 15px;}
.g-blog-column-2  { display: inline-block;  width: 250px; vertical-align: top; margin: 0 20px 0 15px;} 
/* .g-clear-float { clear: both; margin: 0 0 10px 0; }   */
.g-h3header  { text-align: left; }

/* Web Fonts - APIs hosted at www.google.com/fonts - selected handwriting and display fonts. 
 - Make sure link is in head section of - themes/imobile/views/page.html.php
 N.B. Regarding Browser differences: IE and Firefox do not need a font-style property to be specified in CSS . For Italic font, Chrome & Safari always need 'font-style: italic;' to be specified even if using an italic font. Therefore always specify font-style. 
*/ 
/* Font choices: 
'Courgette', cursive;
'Kite One', sans-serif;
'Merienda', cursive; 
'Overlock', cursive;
'Simonetta', cursive;
** Copy and paste font family into Headers below - favorites are: Simonetta normal & Overlock italic **
*/

h1 { font-family: 'Simonetta', cursive;  font-style: normal; font-weight: bold;  font-size: 38px; /* default=32px */  padding-bottom: 1px; } 
h2 { font-family: 'Simonetta', cursive;  font-style: normal; font-weight: normal; font-size: 28px; }

/* Use these classes with same header number to make specific 'one-off' header styles */

/* .g-h1header  {   } */
/* .g-h2header  { font-family: 'Satisfy', cursive; font-weight: normal; font-size: 30px; } */
/* .g-h3header  {   }  */