#basket {
  float:right;
}
#add_to_basket {float:right}
#basketForm {max-width:200px;float:left;}
#basketThumb {float:left; padding:10px;}
#basketThumb img{max-width:100px;}
#payment {float:right; width:50%}
#checkout input,
#checkout select,
#checkout textarea {
  display: block;
  clear: both;
  padding: .2em;
  width: 100%;
}
#checkout input.checkbox,
input[type=checkbox]{
  width: 10%;
  margin-top: 3px;
}

#checkout input,
#sidebar-basket {max-height:400px; overflow-y:auto; overflow-x:hidden;}
/* Classes */
.order-status-1 a{color:#AA0000 !important}
.order-status-1 tr{background-color:orange !important}
.order-status-2 a{color:#00AA00 !important}
.order-status-2 tr{background-color:green !important}

/*.orders-view ,p{font-size: 10px}*/
.basket-right h3{margin-left: 10px}
.basket-right p{margin-left: 10px}

.basket-right 
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}
.pretty-table
{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #000;
  background: #bcd0e4 url("widget-table-bg.jpg") top left repeat-x;
}

.pretty-table caption
{
  caption-side: bottom;
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

.pretty-table th, .pretty-table td
{
  border: 1px dotted #666;
  padding: 0.5em;
  text-align: left;
}
.pretty-table th[scope=col]
{
  color: #000;
  background-color: #8fadcc;
  text-transform: uppercase;
  font-size: 0.9em;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.pretty-table th+th[scope=col]
{
  color: #fff;
  background-color: #7d98b3;
  border-right: 1px dotted #666;
}

.pretty-table th[scope=row]
{
  background-color: #b8cfe5;
  border-right: 2px solid #333;
}

.pretty-table tr.alt th, .pretty-table tr.alt td
{
  color: #2a4763;
}

.pretty-table tr:hover th[scope=row], .pretty-table tr:hover td
{
  background-color: darkblue;
  color: #fff;
}
.pretty-table2
{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #000;
  background: #bcd0e4 url("widget-table-bg.jpg") top left repeat-x;
}

.pretty-table2 caption
{
  caption-side: bottom;
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

.pretty-table2 th
{
  border-bottom: 1px solid #666;
  padding: 0.5em;
  text-align: left;
}
.pretty-table2 td
{
  border-top: 1px dotted #666;
  border-bottom: 1px dotted #666;
  padding: 0.2em;
  text-align: left;
}

.pretty-table2 th+th[scope=col]
{
  color: #fff;
  background-color: #7d98b3;
  border-right: 1px dotted #666;
}

.pretty-table2 th[scope=row]
{
  background-color: #b8cfe5;
  border-right: 2px solid #333;
}

.pretty-table2 tr.alt th, .pretty-table tr.alt td
{
  color: #2a4763;
}

.pretty-table3 td
{
  border-top: none;
  border-bottom: none;
  padding: 0.5em;
  text-align: left;
}
