#sb-content        { padding: 0px; margin: 0; }

#g-exif-data         { width: auto; min-height: 90%; margin: 10px; text-align: center; color: #ccc; background-color: #101415; overflow: auto; }
#g-exif-data table   { border: #eee 1px solid; font-size: 10pt; }
#g-exif-data .g-even { background-color: #aaa; color: #000; }
#g-exif-data .g-odd  { background-color: #999; color: #fff; }

/* Login dialog ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

form                    { background: #101415 url('../images/section.png') repeat-x; overflow: hidden; }
form fieldset           { border: none; }
form legend             { color: #bbb; padding: 6px 0 0 10px; width: 100%; }
form ul                 { padding: 0; }
form li                 { padding: 8px 0 0 20px; }
form ul>fieldset>legend { display: none; }
form label              { display: block; }
form textarea           { width: 98%; }
form input[type="text"],
input[type="password"]  { width: 90%; }

#sb-content.html_ajax textarea    { width: 270px; }
#sb-content.html_ajax p.g-error              { padding-top: 4px; color: red; }

#g-text { min-height: 70px; }

#g-login-form                                { width: 100%; }
#g-login form ul                             { min-height: 160px; }
#g-edit-user-form ul                         { min-height: 276px; }
#g-password-reset                            { margin-left: 8px; }
#g-edit-album-form fieldset fieldset         { border: none; }
#g-edit-album-form fieldset fieldset li      { float: left; display: inline; }

#g-add-photos-form { height: 100%; }