/* Grid view ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#g-calendar-grid {
  position: relative;
  align: center;
  float: left;
  width: 200px;
  height: 220px;
  margin: 10px 10px 10px 10px;
}

#g-calendar-profile-grid {
  position: relative;
  align: center;
  float: left;
  width: 200px;
  height: 145px;
  margin: 10px 10px 10px 10px;
}

/* Search form ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#cal_user {
  top: 0px;
  left: 60px;
  display: inline;
}
#cal_year {
  top: 0px;
  left: 240px;
  display: inline;
}
#cal_go {
  top: 0px;
  left: 328px;
  display: inline;
}

/* Content ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
table.calendar {
  text-align: center;
}

table.calendar caption {
  font-size: 1.5em;
  padding: 0.2em;
}

table.calendar th, table.calendar td {
  padding: 0.2em;
  border: 0px;
}

table.calendar td:hover {
  background: #ddf;
}

/* For RTL Languages ~~~~~~~~~~~~~~~~~~~~~~~ */
.rtl #g-calendar-grid {
  float: right;
}
