/* Grid ****************************** */
#g-selected-language-flag, #g-language-flag, #g-default-language-flag {
position: relative;
float: left;
margin: 2px 2px 2px 2px;
width: 50px;
height: 50px;
display: table-cell;
vertical-align: middle;
/*	border:1px solid #fff; */
}

/* Resize ****************************** */

#g-language-flag img, #g-default-language-flag img {
width: 40px;
display: block;
margin-left: auto;
margin-right: auto }
}

#g-selected-language-flag img {
width: 48px;
display: block;
margin-left: auto;
margin-right: auto }
}

