/* Flag container divs */
#g-selected-language-flag,
#g-language-flag,
#g-default-language-flag {
  display: inline;
  margin: 2px;
}

/* Flags with standard size */
#g-language-flag img,
#g-default-language-flag img {
  width: 40px;
  margin: 5px;
}

/* Flag grows when selected */
#g-selected-language-flag img {
  width: 48px;
  margin: 1px;
}