#g-sharephoto-links {
  font-size: 15px; 
  margin-top: 55px;
}

#g-sharephoto-links-position {
  margin-bottom: 7px; 
  border-bottom: 1px solid #B6B6B6;
  font-weight: bold;
  margin-left: 10px; 
  margin-right: 10px; 
}

#g-sharephoto-links-small {
  font-size:11px;
  color:gray;
}

#dock {
 position: relative; 
 bottom: 0; 
 font: 13px; 
}

.dock-container { 
 position: relative;
 height: 80px;
 padding: 10px;
}

.dock-contaner-left { 
 width: 15px;
 height: 32px;
 position: absolute;
 bottom: 0;
 left: -15px;
}

.dock-container .custom_images a { 
 display: block; 
 width: 50px; 
 position: absolute; 
 bottom: 0; 
 text-align: center; 
 text-decoration: none; 
 color: #333;
 cursor: pointer; 
}

.dock-container .custom_images span { 
 background: rgba(0,0,0,.75);
 display: none;
 padding: 2px 8px;
 margin-left: 17px;
 font-size: 11px;
 color: #fff;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px; 
}

.dock-container .custom_images img { 
 border: 0; 
 margin: 5px 5px 0px; 
 width: 100%; 
}
