#g-content fieldset li {
  display: block;
  clear: both;
  height: 24px;
}
#g-content fieldset input {
  display: inline;
  float: left;
  height: 18px;
  margin-right: 0.8em;
  width: 250px;
}
#g-content fieldset select {
  display: inline;
  float: left;
  height: 24px;
  margin-right: 0.8em;
  width: 256px;
}
#g-content fieldset label {
  display: inline;
  line-height: 24px;
}
#g-content fieldset label input.checkbox {
  float: left;
  height: 24px;
  margin-right: 0.8em;
  width: 20px;
  margin-left: 236px;
}